<%- include ('partials/header') %>
          <div class="hero">
                    <div class="container">
                              <div class="hero__text">
                                        <h1 class="hero__h1">About us</h1>
                                        <h3>A bibliophile or bookworm is an individual who loves and
                                                  frequently reads books.</h3> 
                                        <p class="hero__p">
                                                  We are that. A team of bibliophiles.
                                                  We strongly believe in education and self improvment. One great way to achieve that is by reading.
                                                  <br> <br> 
                                                  Reading is important because it develops our thoughts, gives us endless knowledge and lessons while keeping our minds active.
                                                  <br> <br> 
                                                  Support us and our mission on Patreon.
                                         </p>
                                        <a href="#" class="btn">Become our PATRON</a>
                              </div>
                              <div class="hero__img">
                                        <img src="./hero-img.jpg" alt="">
                              </div>
                    </div>
          </div>
          <%- include ('partials/footer') %>