<%- include ('partials/head') %>

          <div class="form-container">
                    <div class="wrapper">
                              <form action="/reviews" method="POST">
                                        <div class="row">
                                                  <div>
                                                            <label for="author">Author</label>
                                                  </div>
                                                  <div>
                                                            <input type="text" id="author" name="author"
                                                                      placeholder="Author of the book">
                                                  </div>
                                        </div>
                                        <div class="row">
                                                  <div>
                                                            <label for="title">Title</label>
                                                  </div>
                                                  <div>
                                                            <input type="text" id="title" name="title"
                                                                      placeholder="Title of the book">
                                                  </div>
                                        </div>
                                        <div class="row">
                                                  <div>
                                                            <label for="summary">Summary</label>
                                                  </div>
                                                  <div>
                                                            <textarea id="summary" name="summary"
                                                                      placeholder="Write a summary for the book.."
                                                                      style="height:200px"></textarea>
                                                  </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                  <input type="submit" value="Submit">
                                        </div>
                              </form>
                    </div>
          </div>

          <%- include ('partials/footer') %>